{% extends 'base.html.twig' %}

{% block title %}Edit ProductManufacturer{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2">
            <a class="btn btn-light" href="{{ path('app_product_manufacturer_index') }}"><span class="fa fa-arrow-left"></span> Back</a>
        </div>
        <div class="col">
            <h1>Edit Manufacturer</h1>
        </div>
        <div class="col text-right">
            {{ include('product_manufacturer/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('product_manufacturer/_form.html.twig', {'button_label': 'Update'}) }}
    
{% endblock %}
