{% extends 'base.html.twig' %}

{% block title %}Edit ProductManufacturer{% endblock %}

{% block body %}
    <h1>Edit ProductManufacturer</h1>

    {{ include('product_manufacturer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_manufacturer_index') }}">back to list</a>

    {{ include('product_manufacturer/_delete_form.html.twig') }}
{% endblock %}
