{% extends 'base.html.twig' %}

{% block title %}ProductManufacturer{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2">
            <a class="btn btn-light" href="{{ path('app_product_manufacturer_index') }}"><span class="fa fa-arrow-left"></span> Back</a>
        </div>
        <div class="col">
            <h1>Viewing Manufacturer</h1>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ product_manufacturer.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product_manufacturer.name }}</td>
            </tr>
        </tbody>
    </table>    
    
    <a class="btn btn-primary" href="{{ path('app_product_manufacturer_edit', {'id': product_manufacturer.id}) }}"><span class="fa fa-edit"></span> Edit</a>

{% endblock %}
