{% extends 'base.html.twig' %}

{% block title %}Import Products{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2">
            <a class="btn btn-light" href="{{ path('app_product_category_index') }}"><span class="fa fa-arrow-left"></span> Back</a>
        </div>
        <div class="col">
            <h1>Import Product Categories</h1>
        </div>
        <div class="col text-right">
        </div>
    </div>

    <p>The following file will be imported to product categories:</p>

    <div class="card">
        <div class="card-body">
            <pre>
{{ importSample }}
...
            </pre>
        </div>
    </div>

    <br>

    <a class="btn btn-danger" href="{{ path('app_product_category_import_cancel', {'importKey': importKey, 'totalBatches': totalBatches }) }}">Cancel</a>
    <a class="btn btn-primary" href="{{ path('app_product_category_import_confirm', {'importKey': importKey, 'totalBatches': totalBatches }) }}">Continue</a>

{% endblock %}
