{% extends 'base.html.twig' %}

{% block title %}Edit Weborder{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
<script type="text/javascript">

    $('.basicAutoComplete').autoComplete({
        resolverSettings: {
            url: Routing.generate('app_customer_select')
        }
    });

</script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2">
            <a class="btn btn-light" href="{{ path('app_weborder_index') }}"><span class="fa fa-arrow-left"></span> Back</a>
        </div>
        <div class="col">
            <h1>Edit Weborder</h1>
        </div>
        <div class="col text-right">
            {{ include('weborder/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('weborder/_form.html.twig', {'button_label': 'Update'}) }}
    
{% endblock %}
