{% extends 'base.html.twig' %}

{% block title %}Weborder index{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#weborderTable').DataTable({
            ajax: {
                url: Routing.generate('app_weborder_data'),
                method: 'POST'
            },
            fnServerParams: function(data) {
                data['order'].forEach(function(items, index) {
                    data['order'][index]['column_name'] = data['columns'][items.column]['name'];
                });
            },
            columns: [
                { name: 'o.orderNumber', data: 'orderNumber', render: function(data, type, row, meta) {
                    return '<a href="' + Routing.generate('app_weborder_show', {id: row.id}) + '">' + row.orderNumber + '</a>';
                } },
                { name: 'o.customer', data: 'customer'},
                { name: 'o.reference1', data: 'reference1' },
                { name: 'o.reference2', data: 'reference2' },
                { name: 'o.reference3', data: 'reference3' },
                { name: 'o.orderDate', data: 'orderDate', render: function (data, type, row, meta) {
                    var d = new Date(data);
                    return d.toLocaleDateString() + " " + d.toLocaleTimeString();
                } }
            ],
            processing: true,
            serverSide: true,
            stateSave: true
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Weborders</h1>
        </div>
        <div class="col text-right">
            <a class="btn btn-primary" href="{{ path('app_weborder_new') }}"><span class="fa fa-plus"></span> New</a>
        </div>
    </div>

    <table id="weborderTable" class="table display table-striped table-bordered">
        <thead>
            <tr>
                <th>OrderNumber</th>
                <th>Customer</th>
                <th>Reference1</th>
                <th>Reference2</th>
                <th>Reference3</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
