{% extends 'base.html.twig' %}

{% block title %}New ProductType{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2">
            <a class="btn btn-light" href="{{ path('app_product_type_index') }}"><span class="fa fa-arrow-left"></span> Back</a>
        </div>
        <div class="col">
            <h1>New Product Type</h1>
        </div>
    </div>

    {{ include('product_type/_form.html.twig') }}
    
{% endblock %}
