{% extends 'base.html.twig' %}

{% block title %}ProductType{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2">
            <a class="btn btn-light" href="{{ path('app_product_type_index') }}"><span class="fa fa-arrow-left"></span> Back</a>
        </div>
        <div class="col">
            <h1>Viewing Product Type</h1>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ product_type.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_product_type_edit', {'id': product_type.id}) }}"><span class="fa fa-edit"></span> Edit</a>

{% endblock %}
